.App {
  margin: 0 auto;
  width: 400px;
}

.App > h1 {
  color: #fb6f92;
}

.App > section {
  background-color: #ffc2d1;
  border: 3px dotted #fb6f92;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}

.Controller button {
  font-family: "Bagel Fat One", system-ui;
  background-color: #ff8fab;
  border: 1px solid #fb6f92;
  padding: 10px;
  width: 100%;
  color: white;
}

.Controller div {
  display: flex;
  justify-content: space-around;
}
